[Desktop Entry]
Type=Application
Name=MPV Scheme Handler
Exec=bash -c 'export LD_PRELOAD=/usr/lib/libvulkan.so.1; arg=$0; arg=${arg/"https//"/"https://"}; arg=$(echo $arg | tr -d "'"'"'"); mpv "${arg:6}"' "%u"
StartupNotify=true
MimeType=x-scheme-handler/mpv
Terminal=false
Hidden=false
Icon=mpv